.btn {
    @extend %body-font;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    padding: remCalc(2px getWeight(2));
}

a.btn {
    text-decoration: none;
}

@include set_background-xcolor("btn");