h1 {
    @extend %headings;
    font-size: 2.5rem;
}

h2 {
    @extend %headings;
    font-size: 2rem;
}

h3 {
    @extend %headings;
    font-size: 1.6rem;
}

h4 {
    @extend %headings;
    font-size: 1.3rem;
}

.text {
    @extend %body-font;
    font-size: 1rem;

    &-justify {
        text-align: justify;
    }

    &-center {
        text-align: center;
    }

    &-left {
        text-align: left;
    }

    &-right {
        text-align: right;
    }

    &-uppercase {
        text-transform: uppercase;
    }

    &-lowercase {
        text-transform: lowercase;
    }

    &-capitalize {
        text-transform: capitalize;
    }

    &-small {
        font-size: 0.8rem;
    }

    &-large {
        font-size: 1.2rem;
    }

    &-xlarge {
        font-size: 1.6rem;
    }

    &-xxlarge {
        font-size: 2rem;
    }

    &-xxxlarge {
        font-size: 2.5rem;
    }

    &-strong, &-bold {
        font-weight: bold;
    }

    &-thing {
        font-weight: 100;
    }

    @include set_xcolor(&, color);
}

p, span {
    @extend .text;
}

a {
    @extend .text;
    font-size: 1rem;
    text-decoration: none;
    color: getColor(primary);

    &:hover {
        color: getHoverColor(primary);
    }
}

